body{
  background-color:#CCECF6 ;
 padding: 0;
 margin: 0;
}

header{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 0; 
    gap: 25px;
    background-color:#EAEAEA; 
}

.header_img {
  margin-left:2%;
  max-width: 7vh;
  width: 100%;
}

.header_name{
    font-size: 2vw;
    color: #000000;
    font-family: "Pixelify Sans", sans-serif;
}

.header_nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header_list{
    list-style: none;
    display: flex;
    flex-direction: row;
}
.header_list-item a {
    color: black;
    text-decoration: none;
    font-size: 2vh;
    
  padding: 8px 16px; 
  text-decoration: none; 
  color: inherit; 
  display: block; 
  
}
.header_list-item{
  margin-right: 20px;
  background-color: #E38E8E;
  border-radius: 10px;
  border: 1px solid #000000; 
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s ease-in;
}

.main_first-page_1 {
  background-image: url('images/image\ 14.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 90vh; 
  border-radius: 2em;
}
.main_first-page-container_1 {
  max-height: 90vh;
  display: flex;
  justify-content: end;
}
.main_first-page_1_img {
  position: absolute;
  left: 4%;
  top: 28%;
  width: 90vw;
}
.main_first-page_1-description {
  position: absolute;
  left: 8%;
  top: 11%;
  width: 75vw;
  font-size: 63px;
  font-family: "Pixelify Sans", sans-serif;
}
.main_first-page_1_span {
  font-weight: 500;
}
.main_first-page_1_img_1 {
  position: absolute;
  left: 1%;
  top: 62%;
  width: 96vw;
}

.header_list-item:hover {
    background-color: #ffffff;
    box-shadow: 0px 0px 10px #969595;
}

.header_list-item:active {
    background-color: #969595;
    box-shadow: 0px 0px 10px #000000;
}
.main_second-page_2_img {
  margin: 2% 0;
  max-width: 100vw;
  width: 100%;
}
.main_second-page_2_img_1 {
  position: absolute;
  left: 1%;
  top: 130%;
  width: 96vw;
}
.main_first-page_1-description_1 {
  position: absolute;
  left: 8%;
  top: 105%;
  width: 75vw;
  font-size: 63px;
  font-family: "Pixelify Sans", sans-serif;
}
.main_third-page_3_img {
  margin: 2% 0;
  max-width: 100vw;
  width: 100%;
}
.main_third-page_3_img_1 {
  position: absolute;
  left: 1%;
  top: 213%;
  width: 75vw;
}
footer {
  margin: 2% 0;
  min-height: 35vh;
  border-radius: 2em;
  background-color: #50A0B9 ;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-content p {
  margin: 0;
  padding: 0;
}

.footer-content:last-child {
  margin-top: auto;
}

.footer-logo,
.footer-text,
.footer-text_1,
.footer-text_2,
.footer-copy
 {
  font-size: 2vw;
  color: #000000;
  font-family: "Pixelify Sans", sans-serif;
  
}

.footer-content-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}